.DS_Store/*
.DS_Store
web/.DS_Store
web/*/.DS_Store
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover

#Ignore uploaded files
web/static/picture/
