<div class="chat-main" data-question="{{ url_for('get20q') }}" data-sendmessage="{{ url_for('sendmessageto') }}" data-newmessages="{{ url_for('get_new_messages_from', username='') }}" >
  <style id="dynamic-styles"></style>
  <div id="hangout" class="collapsed hide-on-med-and-down">
   <div id="head" class="style-bg deep-purple lighten-1"> <i class="mdi mdi-arrow-left"></i>
      <h1 class="chat-title">My Messages</h1><i class="mdi mdi-chevron-down"></i></div>
   <div id="content">
     <div class="overlay"></div>
     <div class="list-text">
     <ul class="list mat-ripple">
       {% for match in mymatches %}
          <li data-username="{{ match['username'] }}" class="open-chat">
          {% if matchesPictures[match['username']] %}
            <img src="{{ matchesPictures[match['username']] }}">
          {% else %}
            <img src="../static/picture/no-pic.png" >
          {% endif %}
           <div class="content-container">
             <span class="name">{{ match['username'] }}</span>
             <span class="txt">Hello!</span>
           </div>
           <span class="time">
             14:00
           </span>
          </li>
        {% endfor %}
     </ul>
     </div>
     <div class="list-chat">
       {% for match in mymatches %}
       <ul class="chat" data-username="{{ match['username'] }}">

         <li>
           {% if current_user.profile_picture %}
             <img src="{{ current_user.profile_picture }}">
           {% else %}
             <img src="../static/picture/no-pic.png">
           {% endif %}
           <div class="message">Hi!</div>
         </li>
         <li>
           {% if matchesPictures[match['username']] %}
             <img src="{{ matchesPictures[match['username']] }}">
           {% else %}
             <img src="../static/picture/no-pic.png" >
           {% endif %}
           <div class="message">Hello!</div>
         </li>
         <li>
           {% if current_user.profile_picture %}
             <img src="{{ current_user.profile_picture }}">
           {% else %}
             <img src="../static/picture/no-pic.png">
           {% endif %}
           <div class="message current">Hey! How are you?</div>
         </li>
         <li>
           {% if matchesPictures[match['username']] %}
             <img src="{{ matchesPictures[match['username']] }}">
           {% else %}
             <img src="../static/picture/no-pic.png" >
           {% endif %}
           <div class="message">I'm good! Wanna play RandomQ?</div>
         </li>
         <li>
           {% if current_user.profile_picture %}
             <img src="{{ current_user.profile_picture }}">
           {% else %}
             <img src="../static/picture/no-pic.png">
           {% endif %}
           <div class="message current">Sure! I'll send the first one</div>
         </li>
         <li>
           {% if matchesPictures[match['username']] %}
             <img src="{{ matchesPictures[match['username']] }}">
           {% else %}
             <img src="../static/picture/no-pic.png" >
           {% endif %}
           <div class="message">Ok!</div>
         </li>
         <li>
           {% if current_user.profile_picture %}
             <img src="{{ current_user.profile_picture }}">
           {% else %}
             <img src="../static/picture/no-pic.png">
           {% endif %}
           <div class="message current">How fast do hotcakes sell?</div>
         </li>
       </ul>
       {% endfor %}
       <div class="meta-bar chat"><input class="nostyle chat-input" type="text" placeholder="Message..." /><a  data-tooltip="Give me a question!" data-delay="50" data-position="top"><i class="mdi mdi-help mdi-24px"></i></a> <i class="mdi mdi-send mdi-24px"></i></div>
     </div>
     </div>


  </div>
</div>
