<div class="chat-main" data-question="{{ url_for('get20q') }}">
  <style id="dynamic-styles"></style>
  <div id="hangout" class="collapsed hide-on-med-and-down">
   <div id="head" class="style-bg deep-purple lighten-1"> <i class="mdi mdi-arrow-left"></i>
      <h1 class="chat-title">My Messages</h1><i class="mdi mdi-chevron-down"></i></div>
   <div id="content">
     <div class="overlay"></div>
     <div class="list-text">
     <ul class="list mat-ripple">
       <li><img src="http://lorempixel.com/100/100/people/1/">
         <div class="content-container">
           <span class="name">Angie</span>
           <span class="txt">i get the other  a bit </span>
         </div>
         <span class="time">
           14:00
         </span>
          </li>
     </ul>
     </div>
     <div class="list-chat">
       <ul class="chat">
         <li>
         <img src="../static/picture/no-pic.png">
           <div class="message">o hai!</div>
         </li>
         <li>
         <img src="http://lorempixel.com/100/100/people/1/">
           <div class="message"></div>
         </li>
         <li>
         <img src="../static/picture/no-pic.png">
           <div class="message current">why?</div>
         </li>
         <li>
         <img src="http://lorempixel.com/100/100/people/1/">
           <div class="message">what?</div>
         </li>
         <li>
         <img src="../static/picture/no-pic.png">
           <div class="message current">why?</div>
         </li>
         <li>
         <img src="http://lorempixel.com/100/100/people/1/">
           <div class="message">what?</div>
         </li>
         <li>
         <img src="../static/picture/no-pic.png">
           <div class="message current">why?</div>
         </li>
         <li>
         <img src="http://lorempixel.com/100/100/people/1/">
           <div class="message">what?</div>
         </li>
       </ul>
       <div class="meta-bar chat"><input class="nostyle chat-input" type="text" placeholder="Message..." /><a  data-tooltip="Give me a question!" data-delay="50" data-position="top"><i class="mdi mdi-help mdi-24px"></i></a> <i class="mdi mdi-send mdi-24px"></i></div>
     </div>
     </div>

  </div>
</div>
