<div id="interested-in" class="modal interested-in-modal modal-filter">
  <div class="modal-content">
    <div class="input-field col s12">
      <select id="sexInterest">
        <option value="" disabled selected>Choose your option</option>
        <option value="men">Man</option>
        <option value="women">Woman</option>
        <option value="everyone">Everyone</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
  </div>
</div>
<div id="age-range" class="modal age-range-modal modal-filter">
  <div class="modal-content">
    <div class="input-field col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="age-min" type="number" class="validate">
          <label for="age-min">Min</label>
        </div>
        <div class="input-field col s6">
          <input id="age-max" type="number" class="validate">
          <label for="age-max">Max</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
  </div>
</div>
<div id="range-distance" class="modal range-distance-modal modal-filter">
  <div class="modal-content">
    <div class="input-field col s12">
          <input id="distance" type="number" class="validate">
          <label for="distance">Distance (in Kilometers)</label>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
  </div>
</div>
