<ul id="slide-out" class="side-nav fixed">
    <li><div class="userView">
      <div class="background">
        <img src="../static/img/office.jpg">
      </div>
      {% if current_user.profile_picture is defined and current_user.profile_picture != None %}
        <a href="{{ url_for('profile') }}"><img class="circle" src="../static/picture/{{ current_user.profile_picture }}"></a>
      {% else %}
        <a href="{{ url_for('profile') }}"><img class="circle" src="../static/picture/no-pic.png"></a>
      {% endif%}
      <a href="{{ url_for('profile') }}"><span class="white-text name">{{ current_user.username }}</span></a>
      <a href="{{ url_for('profile') }}"><span class="white-text email">{{ current_user.email }}</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">supervisor_account</i>Matches</a></li>
    <li><a href="#!"><i class="material-icons">person_pin</i>Browse</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Settings</a></li>
    <li><a class="waves-effect" href="{{ url_for('profile') }}"><i class="material-icons">perm_identity</i>My Profile</a></li>
    <li><a class="waves-effect" href="{{ url_for('logout') }}"><i class="material-icons">power_settings_new</i>Log out</a></li>
</ul>
