<ul id="slide-out" class="side-nav fixed">
    <li><div class="userView">
      <div class="background">
        <img src="../static/img/office.jpg">
      </div>
      {% if current_user.profile_picture == None %}
        <a href="#!user"><img class="circle" src="../static/img/no-pic.png"></a>
      {% else %}
        <a href="#!user"><img class="circle" src="{{ current_user.profile_picture }}"></a>
      {% endif%}
      <a href="#!name"><span class="white-text name">{{ current_user.username }}</span></a>
      <a href="#!email"><span class="white-text email">{{ current_user.email }}</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">supervisor_account</i>Matches</a></li>
    <li><a href="#!"><i class="material-icons">person_pin</i>Browse</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Settings</a></li>
    <li><a class="waves-effect" href="#!"><i class="material-icons">perm_identity</i>My Profile</a></li>
    <li><a class="waves-effect" href="{{ url_for('logout') }}"><i class="material-icons">power_settings_new</i>Log out</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
