<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}
    <link href="../static/css/chat.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.1.70/css/materialdesignicons.min.css">
  </head>
  <body>
    <header>
      <nav class="top-nav deep-purple lighten-1">
          <div class="nav-wrapper">
            <a class="formosa-logo brand-logo center"><img src="../static/img/logo.png" alt=""></a>
          </div>
      </nav>
      <nav class="top-nav deep-purple lighten-2 filter-nav">
        <div class="match-status center">

          <p>I'm looking for: <a class='dropdown-button btn deep-purple lighten-3 looking-for'>{{ looking_for }}</a> who are interested in <a class='dropdown-button btn deep-purple lighten-3 interested-in' >{{ interested_in}}</a> ages <a class='dropdown-button btn deep-purple lighten-3 age-range'>{{ age_min }} - {{ age_max }}</a> located within <a class='dropdown-button btn deep-purple lighten-3 range-distance'>25</a> kilometers of me. <a class="btn deep-purple lighten-3 advanced-filter"><i style="line-height:38px;" class="large material-icons">settings_input_composite</i></a></p>

        </div>
      </nav>
      {% include "partials/navbar.html" %}

    </header>
    <main data-filter="{{ url_for('filter') }}" data-like="{{ url_for('like', username='') }}">
      <!-- <div class="row container match-cards"> -->
      <div class="row container">

        <div class="preloader-wrapper big active center" style="display:none">
             <div class="spinner-layer spinner-blue">
               <div class="circle-clipper left">
                 <div class="circle">
                 </div>
               </div>
               <div class="gap-patch">
                 <div class="circle">
                 </div>
               </div><div class="circle-clipper right">
                 <div class="circle">
                 </div>
               </div>
             </div>
        </div>
        <div class="match-cards">
        {% if browse_nodes %}
        {% for node in browse_nodes %}
        <div class="col m4">
          <div class="card">
            <div class="card-image">
              {% if nodes_pictures[node['username']] %}
              <img class="materialboxed" data-caption="{{ node['username'] }}" src="{{nodes_pictures[node['username']]}}">
              {% else %}
              <img src="../static/picture/no-pic.png">
              {% endif %}
              <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">{{ node['username'] }}</span>
            </div>
            <div class="center card-content">
              <h5>{{ node['age'] }} · {{ node['locationFormatted'] }}</h5>
              <h5><span class="card-distance">{{ node['Distance']}}</span> km away from your location</h5>
            </div>
            <div class="card-action center">
              {% if node["Likes"] > 0 %}
                <a class="waves-effect waves-teal btn deep-purple lighten-2">Liked<i class="material-icons left">done</i></a>
              {% else %}
                <a class="waves-effect btn-flat no-like waves-purple">Like</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
          <div id="endMatchCard" class="col s12 end-match-cards">
            <div class="card-panel deep-purple lighten-2">
              <h2 class="white-text">That's everyone we could find!</h2>
              <h3 class="white-text">If you set a lot of filters, you might not get any results.
                Try broadening your search settings.</h3>
            </div>
          </div>
        {% else %}
        <div class="row">
          <div class="col s12">
            <div class="card-panel deep-purple lighten-2">
              <h3 class="white-text">If you set a lot of filters, you might not get any results.
                Try broadening your search settings.</h3>
            </div>
          </div>
        </div>
        {% endif%}


      </div>
      </div>

    </main>

    <!-- Modal Structure -->
    <div id="looking-for" class="modal looking-for-modal modal-filter">
      <div class="modal-content">
        <div class="input-field col s12">
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="man">Man</option>
            <option value="woman">Woman</option>
            <option value="everyone">Everyone</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
      </div>
    </div>
    <!-- Modal Structure -->
    <div id="interested-in" class="modal interested-in-modal modal-filter">
      <div class="modal-content">
        <div class="input-field col s12">
          <select id="sexInterest">
            <option value="" disabled selected>Choose your option</option>
            <option value="men">Man</option>
            <option value="women">Woman</option>
            <option value="everyone">Everyone</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
      </div>
    </div>
    <div id="age-range" class="modal age-range-modal modal-filter">
      <div class="modal-content">
        <div class="input-field col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="age-min" type="number" class="validate">
              <label for="age-min">Min</label>
            </div>
            <div class="input-field col s6">
              <input id="age-max" type="number" class="validate">
              <label for="age-max">Max</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
      </div>
    </div>
    <div id="range-distance" class="modal range-distance-modal modal-filter">
      <div class="modal-content">
        <div class="input-field col s12">
              <input id="distance" type="number" class="validate">
              <label for="distance">Distance (in Kilometers)</label>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
      </div>
    </div>
    <input type="number" class="start-from" name="" value="1" hidden>



   <!-- Modal Structure -->
   <div id="modalMatch" class="modal is_matched center">
     <div class="modal-content">
       <h4>厲害！You matched with <span class="matched-username"></span>!</h4>
       <img src="../static/picture/no-pic.png">
       <p><span class="matched-distance"></span> km from you</p>
       <a class="waves-effect waves-teal btn deep-purple lighten-2">Start Chating!<i class="material-icons left">chat_bubble_outline</i></a>
     </div>
   </div>


    {% include "partials/chat.html"%}
    <!--  Scripts -->
    {% include "partials/scripts.html" %}

    <script>
    {% if newMatches > 0 %}
      var options = {};
      $( "#newMatches" ).effect( 'shake', options, 1500, callback  );

    function callback() {
    setTimeout(function() {
      $( "#newMatches" ).removeAttr( "style" ).hide().fadeIn();
    }, 1000 );
  };
    {% endif %}
    </script>

    <!--  End of Scripts-->
  </body>
</html>
