<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}
    <link href="../static/css/chat.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.1.70/css/materialdesignicons.min.css">
  </head>
  <body>
    <header>
      <nav class="top-nav deep-purple lighten-1">
          <div class="nav-wrapper">
            <a class="formosa-logo brand-logo center"><img src="../static/img/logo.png" alt=""></a>
          </div>
      </nav>
      <nav class="top-nav deep-purple lighten-2">
        <div class="match-status center">

          <p>I'm looking for: <a class='dropdown-button btn deep-purple lighten-3 looking-for'>{{ looking_for }}</a> who are interested in <a class='dropdown-button btn deep-purple lighten-3 interested-in' >{{ interested_in}}</a> ages <a class='dropdown-button btn deep-purple lighten-3 age-range'>{{ age_min }} - {{ age_max }}</a> located within <a class='dropdown-button btn deep-purple lighten-3 range-distance'>25</a> kilometers of me</h5>
        </div>
      </nav>
      {% include "partials/navbar.html" %}

    </header>
    <main>
      <!-- <div class="row container match-cards"> -->
      <div class="row container">

              <!-- Modal Trigger -->
           <a class="waves-effect waves-light btn" href="#modalMatch">Modal</a>

        <div class="preloader-wrapper big active" style="display:none">
             <div class="spinner-layer spinner-blue">
               <div class="circle-clipper left">
                 <div class="circle">
                 </div>
               </div>
               <div class="gap-patch">
                 <div class="circle">
                 </div>
               </div><div class="circle-clipper right">
                 <div class="circle">
                 </div>
               </div>
             </div>
        </div>
        <div class="match-cards">
        <!--<div class="col m4">
          <div class="card">
            <div class="card-image">
              <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/14199272_10153793602986994_6528017139146155017_n.jpg?oh=96ff396f3cbbbc3887242890b7b15266&oe=58DEE9DB">
              <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">xiaosan_chez</span>
            </div>
            <div class="center card-content">
              <h5>24 · Hsinchu City</h5>
            </div>
            <div class="card-action center">
              <a class="waves-effect waves-teal btn deep-purple lighten-2">Liked<i class="material-icons left">done</i></a>
            </div>
          </div>
        </div>
        <div class="col m4">
          <div class="card">
            <div class="card-image">
              <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/13179398_10153464657216479_372899908850126625_n.jpg?oh=3148ce9e6760a5760035224ed037014f&oe=58E9E32B">
              <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">xiaolin</span>

            </div>
            <div class="center card-content">
              <h5>22 · 台中</h5>
            </div>
            <div class="card-action center">
              <a class="waves-effect btn-flat no-like waves-purple">Like</a>
            </div>
          </div>
        </div>-->
        {% if browse_nodes %}
        {% for node in browse_nodes %}
        <div class="col m4">
          <div class="card">
            <div class="card-image">
              {% if nodes_pictures[node['username']] %}
              <img class="materialboxed" data-caption="{{ node['username'] }}" src="{{nodes_pictures[node['username']]}}">
              {% else %}
              <img src="../static/picture/no-pic.png">
              {% endif %}
              <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">{{ node['username'] }}</span>
            </div>
            <div class="center card-content">
              <h5>{{ node['age'] }} · {{ node['locationFormatted'] }}</h5>
              <h5>{{ node['Distance']}} km away from your location</h5>
            </div>
            <div class="card-action center">
              {% if node["Likes"] > 0 %}
                <a class="waves-effect waves-teal btn deep-purple lighten-2">Liked<i class="material-icons left">done</i></a>
              {% else %}
                <a class="waves-effect btn-flat no-like waves-purple">Like</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
          <div class="col s12 end-match-cards">
            <div class="card-panel deep-purple lighten-2">
              <h2 class="white-text">That’s everyone we could find!</h2>
              <h3 class="white-text">If you set a lot of filters, you might not get any results.
                Try broadening your search settings.</h3>
            </div>
          </div>
        {% else %}
        <div class="row">
          <div class="col s12">
            <div class="card-panel deep-purple lighten-2">
              <h3 class="white-text">If you set a lot of filters, you might not get any results.
                Try broadening your search settings.</h3>
            </div>
          </div>
        </div>
        {% endif%}


      </div>
      </div>

    </main>

    <!-- Modal Structure -->
    <div id="looking-for" class="modal looking-for-modal">
      <div class="modal-content">
        <div class="input-field col s12">
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="man">Man</option>
            <option value="woman">Woman</option>
            <option value="everyone">Everyone</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
      </div>
    </div>
    <!-- Modal Structure -->
    <div id="interested-in" class="modal interested-in-modal">
      <div class="modal-content">
        <div class="input-field col s12">
          <select id="sexInterest">
            <option value="" disabled selected>Choose your option</option>
            <option value="men">Men</option>
            <option value="women">Women</option>
            <option value="everyone">Everyone</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
      </div>
    </div>
    <div id="age-range" class="modal age-range-modal">
      <div class="modal-content">
        <div class="input-field col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="age-min" type="number" class="validate">
              <label for="age-min">Min</label>
            </div>
            <div class="input-field col s6">
              <input id="age-max" type="number" class="validate">
              <label for="age-max">Max</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
      </div>
    </div>
    <div id="range-distance" class="modal range-distance-modal">
      <div class="modal-content">
        <div class="input-field col s12">
              <input id="distance" type="number" class="validate">
              <label for="distance">Distance (in Kilometers)</label>

        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
      </div>
    </div>
    <input type="number" class="start-from" name="" value="1" hidden>



   <!-- Modal Structure -->
   <div id="modalMatch" class="modal modal-fixed-footer center">
     <div class="modal-content">
       <h4>厲害！You got a match!</h4>
       <img src="../static/picture/no-pic.png">
       <p>username . 10 km from you</p>

     </div>
     <div class="modal-footer">
       <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cool!</a>
     </div>
   </div>

    {% include "partials/chat.html"%}
    <!--  Scripts -->
    {% include "partials/scripts.html" %}
    <script>
    var options = [
    {
      selector: '.end-match-cards', offset: 0, callback: function(el){
        getNewNodes()
      }
    }];
    Materialize.scrollFire(options);

    function getNewNodes() {
      var age = $( ".btn.age-range" ).text().split("-");
      var ageMin = parseInt(age[0]);
      var ageMax = parseInt(age[1]);
      var startFrom = (parseInt($(".start-from").val())* 20)+ 1;
      ageMin = ageMin < 18 ? 18 : ageMin;
      ageMax = ageMax > 99 ? 99 : ageMax;
      var lookingFor = $( ".btn.looking-for" ).text();
      var interestedIn = $( ".btn.interested-in" ).text();
      var rangeDistance = parseInt($( ".btn.range-distance" ).text());
      rangeDistance = rangeDistance < 1 ? 1 : rangeDistance;
      jsonData = JSON.stringify({'startFrom': startFrom,'lookingFor':lookingFor, 'interestedIn':interestedIn, 'ageMax':ageMax, 'ageMin':ageMin, 'rangeDistance':rangeDistance});
      $.ajax
      (
        {
          method: 'POST',
          url: {{ url_for('filter') }},
          contentType: "application/json",
          data: jsonData,
          success: function(result)
          {
            alert("HERE");
            if (result.success){
              var matchesUsernames = result.matchesUsernames;
              var matchesPictures = result.matchesPictures;
              var matchesLocations = result.matchesLocations;
              var matchesAges = result.matchesAges;
              var matchesDistances = result.matchesDistances;
              var matchesLikes = result.matchesLikes;
              matchesUsernamesLength = matchesUsernames.length;
              htmlMatchCards = "";
              for (var i = 0; i < matchesUsernamesLength; i++){
                username = matchesUsernames[i];
                htmlUser = "<div class=\"col m4\"><div class=\"card\"><div class=\"card-image\">";
                if ((typeof(matchesPictures[username]) !== 'undefined') && (matchesPictures[username] != "")){
                  htmlUser = htmlUser + "<img class=\"materialboxed\" data-caption=\""+username+"\" src=\""+matchesPictures[username]+"\">";
                } else {
                  htmlUser = htmlUser + "<img src=\"../static/picture/no-pic.png\">";
                }
                htmlUser = htmlUser + "<span class=\"card-title\" style=\"width:100%; background: rgba(0, 0, 0, 0.5);\">"+username+"</span></div>";
                htmlUser = htmlUser + "<div class=\"center card-content\"><h5>"+ matchesAges[i]+" . "+matchesLocations[i] + "</h5>";
                htmlUser = htmlUser + "<h5>"+matchesDistances[i]+" km away from your location</h5></div>";
                htmlUser = htmlUser + "<div class=\"card-action center\">";
                if (matchesLikes[i] > 0){
                  htmlUser = htmlUser + "<a class=\"waves-effect waves-teal btn deep-purple lighten-2\">Liked<i class=\"material-icons left\">done</i></a>";
                } else {
                  htmlUser = htmlUser + "<a class=\"waves-effect btn-flat no-like waves-purple\">Like</a>";
                }
                htmlUser = htmlUser + "</div></div></div>";
                htmlMatchCards = htmlMatchCards + htmlUser;
                alert("HERE");
                console.log(htmlMatchCards);
              }
              $( ".match-cards").append(htmlMatchCards);
              $('.materialboxed').materialbox();
              $(".start-from").val(parseInt($(".start-from").val())+ 1);
            } else {
              console.log('Error in AJAX');
            }
          }
        }
      );
    }

    $(".match-cards").on("click",".no-like", function(){
      thisParent = $(this).parent();
      var usernameClicked = ($(this).parent().parent().children('.card-image').children('.card-title').text())
      console.log("clicked");
      $.ajax
      (
        {
          url: {{ url_for('like', username='') }}+usernameClicked,
          success: function(result)
          {
            if (result.success)
            {
              thisParent.html("<a class=\"waves-effect waves-teal btn deep-purple lighten-2\">Liked<i class=\"material-icons left\">done</i></a>")
              console.log(result.message);
              if(result.matched)
              {
                console.log('You got a match');
              }
              else
              {
                console.log('You did not get a match');
              }



            }
            else
            {
              console.log(result.error);
            }

          }
        }
      );
    });



    $("#looking-for").on("click",".modal-close", function(){
      $( ".match-cards").html("");
      $(".preloader-wrapper").css('display','block');
      // --------------------------------------
      var is_change = false;
      var age = $( ".btn.age-range" ).text().split("-");
      var ageMin = parseInt(age[0]);
      var ageMax = parseInt(age[1]);
      var modal = $(this).closest(".modal");
      if(modal.hasClass("looking-for-modal")){
        $node = $(modal).find("ul.select-dropdown li.active");
        if($node.size() > 0 ){
          $( ".btn.looking-for" ).text($($node).text());
          is_change = true;
        }
      } else if (modal.hasClass("interested-in-modal")) {
        $node = $(modal).find("ul.select-dropdown li.active");
        if($node.size() > 0){
          $(".btn.interested-in").text($($node).text());
          is_change = true;
        }
      } else if (modal.hasClass("age-range-modal")) {
        $node = $(modal).find(".input-field input");
        if($node.first().val() != ""){
          ageMin = $node.first().val();
          $node.first().val("");
          is_change = true;
        }
        if($node.last().val() != ""){
          ageMax = $node.last().val();
          $node.last().val("");
          is_change = true;
        }
      } else if (modal.hasClass("range-distance-modal")) {
        $node = $(modal).find(".input-field input");
        if($node.val() != ""){
          var temp = $node.val() < 1 ? 1 : $node.val();
          $(".btn.range-distance").text(temp);
          is_change = true;
          $node.val("");
        }
      }
      ageMin = ageMin < 18 ? 18 : ageMin;
      ageMax = ageMax > 99 ? 99 : ageMax;
      age = ageMin + " - " + ageMax;
      $(".btn.age-range").text(age);
      var lookingFor = $( ".btn.looking-for" ).text();
      var interestedIn = $( ".btn.interested-in" ).text();
      var rangeDistance = parseInt($( ".btn.range-distance" ).text());
      rangeDistance = rangeDistance < 1 ? 1 : rangeDistance;
      jsonData = JSON.stringify({'lookingFor':lookingFor, 'interestedIn':interestedIn, 'ageMax':ageMax, 'ageMin':ageMin, 'rangeDistance':rangeDistance});
      if(is_change){
        console.log('changed')
        $.ajax
        (
          {
            method: 'POST',
            url: {{ url_for('filter') }},
            contentType: "application/json",
            data: jsonData,
            success: function(result)
            {
              console.log(result);
              if (result.success)
              {
                var matchesUsernames = result.matchesUsernames;
                var matchesPictures = result.matchesPictures;
                var matchesLocations = result.matchesLocations;
                var matchesAges = result.matchesAges;
                var matchesDistances = result.matchesDistances;
                var matchesLikes = result.matchesLikes;

                matchesUsernamesLength = matchesUsernames.length;
                htmlMatchCards = "";

                for (var i = 0; i < matchesUsernamesLength; i++)
                {
                  username = matchesUsernames[i];
                  // Create cards for each user

                  htmlUser = "<div class=\"col m4\"><div class=\"card\"><div class=\"card-image\">";
                  if ((typeof(matchesPictures[username]) !== 'undefined') && (matchesPictures[username] != ""))
                  {
                    htmlUser = htmlUser + "<img class=\"materialboxed\" data-caption=\""+username+"\" src=\""+matchesPictures[username]+"\">";
                  }
                  else
                  {
                    htmlUser = htmlUser + "<img src=\"../static/picture/no-pic.png\">";
                  }

                  htmlUser = htmlUser + "<span class=\"card-title\" style=\"width:100%; background: rgba(0, 0, 0, 0.5);\">"+username+"</span></div>";
                  htmlUser = htmlUser + "<div class=\"center card-content\"><h5>"+ matchesAges[i]+" . "+matchesLocations[i] + "</h5>";
                  htmlUser = htmlUser + "<h5>"+matchesDistances[i]+" km away from your location</h5></div>";
                  htmlUser = htmlUser + "<div class=\"card-action center\">";
                  if (matchesLikes[i] > 0)
                  {
                    htmlUser = htmlUser + "<a class=\"waves-effect waves-teal btn deep-purple lighten-2\">Liked<i class=\"material-icons left\">done</i></a>";
                  }
                  else
                  {
                    htmlUser = htmlUser + "<a class=\"waves-effect btn-flat no-like waves-purple\">Like</a>";
                  }
                  htmlUser = htmlUser + "</div></div></div>";

                  htmlMatchCards = htmlMatchCards + htmlUser;
                }
                $( ".match-cards").html(htmlMatchCards);
                $('.materialboxed').materialbox();
                $(".preloader-wrapper").css('display','none');
              }
              else
              {
                console.log('Error in AJAX');
              }

            }
          }
        );
      }

    });
    </script>
    <!--  End of Scripts-->
  </body>
</html>
