<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}
    <link href="../static/css/chat.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.1.70/css/materialdesignicons.min.css">
  </head>
  <body>
    <header>
      <nav class="top-nav deep-purple lighten-1">
          <div class="nav-wrapper">
            <a class="formosa-logo brand-logo center"><img src="../static/img/logo.png" alt=""></a>
          </div>
      </nav>
      {% include "partials/navbar.html" %}

    </header>
    <main>
      {% set length = matchesUsernames|length %}
      {% if length > 0 %}
        <div class="row container match-cards">
          {% for _ in range(0, matchesUsernames|length) %}
          <div class="col m4">
            <div class="card">
              <div class="card-image">

                {% if matchesPictures[matchesUsernames[loop.index-1]] %}
                  <img class="materialboxed" data-caption="{{ matchesUsernames[loop.index-1] }}" src="{{ matchesPictures[matchesUsernames[loop.index-1]] }}">
                {% else %}
                  <img src="../static/picture/no-pic.png">
                {% endif%}
                <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">{{ matchesUsernames[loop.index-1] }}</span>
              </div>
              <div class="center card-content">
                <h5>{{ matchesAges[loop.index-1] }} · {{ matchesLocations[loop.index-1] }}</h5>
                <h5>
                  {% if matchesDistances[loop.index-1] == 0%}
                    Nearby
                  {% else %}
                    {{ matchesDistances[loop.index-1] }} km away from your location
                  {% endif %}
                </h5>

              </div>
              <div class="card-action center">
                <a class="waves-effect waves-teal btn deep-purple lighten-2">Chat<i class="material-icons left">chat_bubble_outline</i></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% else %}
      <div class="row">
        <div class="col s12">
          <div class="card-panel deep-purple lighten-2">
            <h3 class="white-text">You have no matches yet! Keep looking 加油！  </h3>
          </div>
        </div>
      </div>
      {% endif %}
    </main>

    {% include "partials/chat.html"%}
    <!--  Scripts -->
    {% include "partials/scripts.html" %}
    <script>
          {% if newMatches > 0 %}
            var options = {};
            $( "#newMatches" ).effect( 'fade', options, 1500, callbackHideNewMatches  );
            function  callbackHideNewMatches () {
            $( "#newMatches" ).css( 'display', 'none');
            {% if emptyFieldsCount > 0%}
          $( "#newFields" ).effect( 'shake', options, 1500, callbackEmptyFields  );
          {% endif %}
           };
          {% endif %}

          {% if emptyFieldsCount > 0%}
            var options = {};
            {% if newMatches == 0 %}
              $( "#newFields" ).effect( 'shake', options, 1500, callbackEmptyFields  );
            {% endif %}
          function callbackEmptyFields() {
          setTimeout(function() {
              $( "#newFields" ).removeAttr( "style" ).hide().fadeIn();
          }, 1000 );
        };
          {% endif %}
    </script>
    <!--  End of Scripts-->
  </body>
</html>
