<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}
    <!-- <link href="../static/css/chat.css" type="text/css" rel="stylesheet" media="screen,projection"> -->
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.1.70/css/materialdesignicons.min.css">
  </head>
  <body>
    {% include "partials/navbar.html" %}
    <!--  {% include "partials/chat.html"%} -->
    <div class="">
      <form class="col s4" action="{{ url_for('profile') }}" id="signup-up" method="post" enctype="multipart/form-data">
        <div id="signup-container" class="container">
          <div class="row center">
            <h5 class="header col s12 light text-lighten-3">Update my profile!</h5>
            {% for message in get_flashed_messages() %}
              <div class="light text-lighten-3 center">{{ message }}</div>
            {% endfor %}
            <div class="row">
              <div class="file-field input-field col s3 m6 push-m3">
                <div class="btn">
                  <span>Profile picture</span>
                  <input type="file" name="profile_picture">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3 m6 push-m3">
                <select name="preference">
                  <option value="straight" {% if current_user.preference == "straight" %} selected {% endif %} >Straight</option>
                  <option value="gay" {% if current_user.preference == "gay" %} selected {% endif %} >Gay</option>
                  <option value="bisexual" {% if current_user.preference == "bisexual" %} selected {% endif %} >Bisexual</option>
                </select>
                <label for="preference">I am a</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3 m6 push-m3">
                <select name="gender">
                  <option value="man" {% if current_user.gender == "man" %} selected {% endif %} >Man</option>
                  <option value="woman" {% if current_user.gender == "woman" %} selected {% endif %} >Woman</option>
                </select>
                <label for="gender">I am a</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3 m6 push-m3">
                <select name="sex_interest">
                  <option value="man" {% if usernode['sexPreference'] == "man" %} selected {% endif %} >Man</option>
                  <option value="woman" {% if usernode['sexPreference'] == "woman" %} selected {% endif %} >Woman</option>
                  <option value="everyone" {% if usernode['sexPreference'] == "everyone" %} selected {% endif %} >Everyone</option>
                </select>
                <label for="sex_interest">I looking for</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3 m6 push-m3">
                <select name="body_type">
                  <option value="curvy" {% if usernode['bodyType'] == "curvy" %} selected {% endif %} >Curvy</option>
                  <option value="thin" {% if usernode['bodyType'] == "thin" %} selected {% endif %} >Thin</option>
                  <option value="jacked" {% if usernode['bodyType'] == "jacked" %} selected {% endif %} >Jacked</option>
                  <option value="average_build" {% if usernode['bodyType'] == "average_build" %} selected {% endif %} >Average build</option>
                  <option value="fit" {% if usernode['bodyType'] == "fit" %} selected {% endif %} >Fit</option>
                  <option value="rather_not_say" {% if usernode['bodyType'] == "rather_not_say" %} selected {% endif %} >Rather_not_say</option>
                  <option value="a_little_extra" {% if usernode['bodyType'] == "a_little_extra" %} selected {% endif %} >A little extra</option>
                  <option value="overweight" {% if usernode['bodyType'] == "overweight" %} selected {% endif %} >Overweight</option>
                  <option value="full_figured" {% if usernode['bodyType'] == "full_figured" %} selected {% endif %} >Full figured</option>
                  <option value="used_up" {% if usernode['bodyType'] == "used_up" %} selected {% endif %} >Used up</option>
                </select>
                <label for="body_type">My body type</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3 m6 push-m3">
                <select name="drinking">
                  <option value="socially" {% if usernode['drinking'] == "socially" %} selected {% endif %} >Socially</option>
                  <option value="not_at_all" {% if usernode['drinking'] == "not_at_all" %} selected {% endif %} >Not at all</option>
                  <option value="often" {% if usernode['drinking'] == "often" %} selected {% endif %} >Often</option>
                </select>
                <label for="drinking">Do you drink?</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3 m6 push-m3">
                <select name="smoking">
                  <option value="no" {% if usernode['smoking'] == "no" %} selected {% endif %} >No</option>
                  <option value="yes" {% if usernode['smoking'] == "yes" %} selected {% endif %} >Yes</option>
                  <option value="sometimes" {% if usernode['smoking'] == "sometimes" %} selected {% endif %} >Sometimes</option>
                </select>
                <label for="smoking">Do you smoke?</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3 m6 push-m3">
                <select name="educationValue">
                  <option value="university" {% if usernode['educationValue'] == "university" %} selected {% endif %} >University</option>
                  <option value="post_grad" {% if usernode['educationValue'] == "post_grad" %} selected {% endif %} >Postgraduate</option>
                  <option value="two_year_college" {% if usernode['educationValue'] == "two_year_college" %} selected {% endif %} >Two years in college</option>
                  <option value="high_school" {% if usernode['educationValue'] == "high_school" %} selected {% endif %} >High school</option>
                  <option value="space_camp" {% if usernode['educationValue'] == "space_camp" %} selected {% endif %} >Space camp</option>
                </select>
                <label for="educationValue">Your education level</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3 m6 push-m3" id="age_range">

              </div>
            </div>
            <div class="row">
              <div class="input-field col s3 m6 push-m3">
                <label for="heightCm">My height(cm)</label>
                <p class="range-field">
                  <input type="range" id="heightCm" min="90" max="250" name="heightCm" value = {{ usernode['height'] }} />
                </p>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3 m6 push-m3">
                <input type="date" id="birth_date" name="birth_date" class="datepicker" value= {{ current_user.birth_date }} >
                <label for="birth_date">Birthdate</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3 m6 push-m3">
                <input id="country" name="country" type="text" value= {{ current_user.country }} >
                <label for="country">Country</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3 m6 push-m3">
                <input id="city" name="city" type="text" value= {{ current_user.city }} >
                <label for="city">City</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3 m6 push-m3">
                <input type="email" id="email" name="email" value= {{ current_user.email }} >
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3 m6 push-m3">
                <input type="password" id="password" name="password">
                <label for="password">New password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3 m6 push-m3">
                <input type="password" id="password_repeat" name="password_repeat">
                <label for="password_repeat">Retape the new password</label>
              </div>
            </div>
            <input type="hidden" id="age_range_min" name="age_range_min">
            <input type="hidden" id="age_range_max" name="age_range_max">
            <div class="s12 m3 push-m1">
              <input name="update" type="submit" id="update" class="btn-large waves-effect waves-light lighten-1" value="Update!" />
            </div>
          </div>
        </div>
      </form>
    </div>
    <!--  Scripts -->
    {% include "partials/scripts.html" %}
    <script type="text/javascript">
    var start_min = {{ age_range_min }}
    var start_max = {{ age_range_max }}
    var slider = document.getElementById('age_range');
      noUiSlider.create(slider, {
       start: [ start_min , start_max ],
       connect: true,
       step: 1,
       range: {
         'min': 18,
         'max': 80
       }
      });
      slider.noUiSlider.on('update', function( values, handle ) {
       if ( handle ) {
         $("#age_range_max").val(values[handle]);
      	} else {
          $("#age_range_min").val(values[handle]);
      	}
      });
    </script>
    <!--  End of Scripts-->
  </body>
</html>
